using Asgard.Yggdrasil.AspNetCore;

// 这是 starter / host 项目中的完整 Program.cs 模板。
var builder = YggdrasilHost.CreateBuilder("app.yaml")
    .UseBuiltInPlugin<{PluginName}>()
    .ConfigureMiddleware(app =>
    {
        _ = app.UseAsgardExceptionHandler()
            .UseHttpsRedirection();
    });

var app = builder.Build();
await app.RunAsync();
