namespace {Namespace}.Controllers;

/// <summary>
/// {ControllerSummary}
/// </summary>
public class {ControllerName} : BaseController
{
    /// <summary>
    /// 构造函数
    /// </summary>
    /// <param name="asgardContext">Asgard 上下文</param>
    /// <param name="{ServiceName}">{ServiceSummary}</param>
    public {ControllerName}(
        AbsAsgardContext asgardContext,
        I{ServiceName} {serviceName})
        : base(asgardContext)
    {
        _{serviceName} = {serviceName};
    }

    /// <summary>
    /// {ServiceSummary}
    /// </summary>
    private readonly I{ServiceName} _{serviceName};

    /// <summary>
    /// 当前用户 ID。
    /// </summary>
    protected string? CurrentUserId => AsgardContext.IdentityContext?.UserInfo?.UserId;

    /// <summary>
    /// 当前租户 ID。
    /// </summary>
    protected string? CurrentTenantId => AsgardContext.IdentityContext?.UserInfo?.TenantId;
}
