namespace {Namespace};

public static class {ExtensionName}
{
    extension<T>(IQueryable<T> query)
    {
        /// <summary>按条件追加查询过滤。</summary>
        public IQueryable<T> WhereIf(bool condition, Expression<Func<T, bool>> predicate)
            => condition ? query.Where(predicate) : query;

        /// <summary>构建分页查询；异步执行使用项目 ORM 提供的 API。</summary>
        public IQueryable<T> Page(int page, int pageSize)
        {
            ArgumentOutOfRangeException.ThrowIfLessThan(page, 1);
            ArgumentOutOfRangeException.ThrowIfLessThan(pageSize, 1);
            return query.Skip((page - 1) * pageSize).Take(pageSize);
        }
    }
}
