/// <summary>
/// 插件服务配置
/// </summary>
protected override Task OnConfigureServicesAsync(
    IPluginServiceConfigurationContext context,
    CancellationToken cancellationToken)
{
    var config = context.AddPluginConventions<{PluginName}, {ConfigName}>();
    {AdditionalRegistration}
    return Task.CompletedTask;
}
