/// <summary>
/// 插件启动配置
/// </summary>
/// <param name="context">服务配置上下文</param>
public override void ConfigureServices(IPluginServiceConfigurationContext context)
{
    var config = context.AddPluginConventions<{PluginName}, {ConfigName}>(this);
    {AdditionalRegistration}
}
