namespace {Namespace}.Controllers;

public class {ControllerName}Controller : BaseController
{
    public {ControllerName}Controller(AbsAsgardContext asgardContext)
        : base(asgardContext)
    {
    }
}
