messaging:
  enabled: {Enabled}
  rabbitmq:
    enabled: {RabbitMQEnabled}
    hostName: "{HostName}"
    port: {Port}
    userName: "{UserName}"
    password: "{Password}"
    virtualHost: "{VirtualHost}"
    requestedHeartbeat: {RequestedHeartbeat}
    requestedConnectionTimeout: {RequestedConnectionTimeout}
    retryCount: {RetryCount}
    retryIntervalMilliseconds: {RetryIntervalMilliseconds}
  tracing:
    enabled: {TracingEnabled}
  retry:
    maxRetryCount: {MaxRetryCount}
    initialDelayMilliseconds: {InitialDelayMilliseconds}
  delayedMessage:
    enabled: {DelayedMessageEnabled}
    exchangeName: "{DelayedExchangeName}"
  enableDeadLetterQueue: {EnableDeadLetterQueue}
  deadLetterQueueSuffix: "{DeadLetterQueueSuffix}"
